.container-H-OP{
    width: 20%;
}
.container-H-LG{
    width: 35%;
}
.container-I-T{
    width: 12%;
}
.container-I-I{
    width: 50%;
}
.container-I-Tarjet{
    width: 30%;
}
.container-P-TarjetWhite{
    width: 40%;
    height: 27vh;
    flex-direction: row;
}
.container-P-Images{
    width: 20%;
}
.container-Pich{
    width: 100%;
    height: 100vh;
}
.container-P-Down{
    width: 40%;
    height: 15vh;
}
.container-C-Image{
    width: 25%;
    height: 70vh;
}
.container-C-Image-2{
    width: 100%;
    height: 70vh;
}
.container-C-Info{
    width: 40%;
    height: 70vh;
}
.container-PreVista{
    width: 100%;
    height: 100vh;
}
.container-Video{
    width: 70%;
    height: 70vh;
}
.container-Teaser{
    width: 100%;
    height: 100vh;
}
.container-TarjetPersonaje{
    width: 17%;
    height: 57vh;
}
.container-TarjetsPer{
    width: 90%;
}
.container-Personajes{
    width: 100%;
    height: 100vh;
}
.container-imagesPer{
    width: 110%;
}
.button-Pers{
    width: 100%;
}
.container-Shop{
    width: 50%;
    height: 50vh;
}
.container-marca{
    width: 100%;
    height: 100vh;
}
.container-dataMarca{
    width: 100%;
    height: 86vh;
}
.container-tarjetsMarca{
    width: 35%;
    height: 20vh;
}
.container-Of-tar{
    width: 100%;
    height: 43vh;
}
.container-Of-tar-2{
    width: 100%;
    height: 43vh;
}
.button-down{
    width: 35%;
    height: 17vh;
}
.image-logo{
    width: 8%;
}
.container-footer{
    width: 100%;
    height: 8vh;
}
.images-redes{
    width: 15%;
}
.container-line{
    width: 62%;
}
.container-sections{
    width: 17%;
}
.fs-ajust{
    font-size: 2.5vh;
}
@media screen and (max-width:1023px) {
    .container-footer{
        height: 10vh;
    }
    .container-Of-tar{
        height: 50vh;
    }
    .container-dataMarca{
        height: 96vh;
    }
    .container-marca{
        height: 110vh;
    }
    .container-TarjetsPer{
        width: 90%;
        gap: 3vh !important;
    }
    .container-TarjetPersonaje{
        height: 44vh;
    }
    .container-PreVista{
        height: 120vh;
    }
    .fs-ajust{
        font-size: 3vh;
    }
    .container-C-Image-2{
        height: 80vh;
    }
    .container-C-Info{
        width: 60%;
        height: 80vh;
    }
    .container-C-Image{
        width: 30%;
        height: 80vh;
    }
    .container-P-Down{
        height: 22vh;
    }
    .container-Pich{
        height: 130vh;
    }
    .container-P-TarjetWhite{
        height: 40vh;
    }
    .container-I-Tarjet{
        width: 60%;
    }
    .container-I-T{
        width: 20%;
    }
    .container-sections{
        width: 30%;
    }
    .container-line{
        width: 30%;
    }
    .container-H-OP{
        width: 40%;
    }
}
@media screen and (max-width:765px) {
    .images-redes{
        width: 20%;
        height: 6vh;
    }
    .container-footer{
        text-align: center;
        height: 20vh;
    }
    .image-logo{
        width: 25%;
    }
    .button-down{
        width: 80%;
    }
    .container-tarjetsMarca{
        width: 90%;
        text-align: center;
    }
    .container-Of-tar{
        height: 100vh;
        gap: 10vh;
    }
    .container-Of-tar-2{
        height: 75vh;
        gap: 10vh;
    }
    .container-dataMarca{
        height: 175vh;
    }
    .container-marca{
        height: 189vh;
    }
    .container-Shop{
        width: 90% !important;
        height: 50vh !important;
    }
    .container-Shop p, h2{
        font-size: 2.5vh !important;
    }
    .button-Pers{
        width: 65%;
    }
    .container-imagesPer{
        width: 80%;
    }
    .container-Personajes{
        height: 320vh;
    }
    .container-TarjetsPer{
        height: 100vh;
        gap: 5vh !important;
    }
    .container-TarjetPersonaje{
        width: 65% !important;
        height: 40vh;
        overflow: hidden;
    }
    .container-Teaser{
        height: 70vh;
    }
    .container-Video{
        width: 90%;
        height: 40vh;
    }
    .container-PreVista{
        height: 140vh;
    }
    .container-C-Info{
        width: 90%;
        height: 80vh;
    }
    .container-C-Info p, h2{
        font-size: 2.5vh !important;
    }
    .container-C-Image{
        width: 90%;
        height: 25vh;
    }
    .container-C-Image-2{
        height: 25vh;
    }
    .container-P-Down{
        width: 90%;
        height: 17vh;
    }
    .container-P-Down h2{
        font-size: 3vh !important;
    }
    .container-Pich{
        height: 250vh;
    }
    .container-P-Images{
        width: 30%;
        margin-top: 4vh;
    }
    .container-P-TarjetWhite{
        width: 90%;
        height: 60vh;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
    }
    .container-I-Tarjet{
        width: 90%;
        height: 60vh;
    }
    .container-I-Tarjet p{
        font-size: 2.3vh !important;
    }
    .container-H-OP{
        width: 100%;
        margin: 0;
    }
    .container-H-LG{
        width: 20%;
    }
    .container-I-T{
        width: 70%;
        position: static !important;
        justify-content: center !important;
        text-align: center !important;
        border-radius: 1vh !important;
    }
    .container-I-I{
        width: 80%;
    }
}