.bg-violet{
    background-color: rgb(196, 65, 141) !important;
}
.bg-orange{
    background-color: rgb(226, 141, 43) !important;
}
.bg-brown{
    background-color: rgb(192, 97, 34) !important;
}
.bg-green{
    background-color: rgb(100, 179, 97) !important;
}
.bg-blue-op{
    background-color: rgb(114, 192, 238) !important;
}
.bg-blue{
    background-color: rgb(66, 168, 236) !important;
}
.bg-red-op{
    background-color: rgb(214, 66, 66) !important;
}